ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	font-family: verdana;
}

ul.nav li {
	float: left;
}

ul.nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.nav li a:hover{
	background-color: #111;
}

ul.nav li a:active {
	background-color: #ad2424;
}

body {
  background-color: rgb(180, 180, 180);
}

h1 {
  color: #c92e2e;
  text-align: center;
}

h2 {
	text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

@media screen and (max-width: 600px) {

ul.nav li {
	float: none;
}